@media (max-width: 650px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* Index Page */

    .social-media-banner{
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    #slide-container{
        display: none;
    }

    .navbar{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar img {   
        position: relative;
    }
    
    .logo-link{
        margin: 0;
    }
    

    /* Hamburger on navbar */
    .hamburger{
        display: block;
        background-color: transparent;
        border:0;
        cursor: pointer;
        font-size: 20px;
    }

    .hamburger:focus{
        outline: none;
    }

    #nav-ul{
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        margin: 0;
        width: 100%;
        height: auto;
        transform: translateX(-100%);
    }

    .nav-ul .drop-down-container{
        padding: 0;
    }

    #nav-ul.show{
        display: flex;
        transform: translateX(0%);
        background-color: #fff;
    }

    /* Add onClick Show sub-menu */
    .navbar ul li{
        cursor: pointer;
    }

    .navbar ul li a{
        display: block;
        padding: 15px;
    }

    /* On-click animation of hamburger */
    .transition > svg {
        -moz-transition: transform 1s linear;
        -webkit-transition: transform 1s linear;
        transition: transform 0.3s linear;
    }
    
    .flip { /* rotate 90 deg */
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    /* Sub-Menu 1 */
    .navbar ul li:nth-of-type(2) ul.show{
        display: flex;
        position: relative;
        z-index: 1000;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    .navbar ul li:nth-of-type(2) ul li:nth-of-type(2).show{
        display: flex;
        position: relative;
        z-index: 1001;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    /* Border outline for all Sub-Menu Buttons */
    .navbar ul li a.border-outline{
        outline: 1px #e4002b solid;
    }

    .border-outline{ 
        outline: 1px #e4002b solid;
    }

    /* Sub-Menu 2 */
    .navbar ul li:nth-of-type(3) ul.show{
        display: flex;
        position: relative;
        z-index: 1000;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    /* Sub-Menu 3 */
    .navbar ul li:nth-of-type(4) ul.show{
        display: flex;
        position: relative;
        z-index: 1000;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    .navbar ul li:nth-of-type(4) ul li:hover{
        background-color: #424242;
    }

    /* Sub-Menu 4 */
    .navbar ul li:nth-of-type(5) ul.show{
        display: flex;
        position: relative;
        z-index: 1000;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    /* close sub menu-1 */
    /* .blocker-1 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
      } */

    /* Remove Hover Effect from Desktop Layout */
    .drop-down-container ul li a {
        padding: 0;
        padding: 10px;
    }

    .drop-down-container a:hover + ul{
        opacity: 0;
        transform: translateY(0px);
        display: none;
    }

    .drop-down-container ul:hover{
        opacity: 0;
        transform: translateY(0px);
        display: none;
    }

    .drop-down-container ul li:nth-of-type(5) a:hover{
        color: #fff;
    }

    .drop-down-container:nth-of-type(2) ul{
        margin-right: 0px;
        right: 0;
    }
    
    .drop-down-container:nth-of-type(3) ul{
        margin-right: 0px;
        right: 0;
    }
    
    .drop-down-container:nth-of-type(4) ul{
        margin-right: 0px;
        right: 0;
    }
    
    .drop-down-container:nth-of-type(5) ul{
        margin-right: 0px;
        right: 0;
    }
    /* Submenu inside Submenu for Joining */ 
    .navbar ul li:nth-of-type(2) ul li:nth-of-type(2) ul{
        margin-right: 0px;
        right: 0;
        margin-top: 0;
        padding: 3%;
    }

    .navbar ul li:nth-of-type(2) ul li:nth-of-type(2) ul li:hover{
        background-color: #424242;
    }

    /* ------------------------------------------------------------- */

    .drop-down-container ul li:nth-of-type(2){
        flex-direction: column;
        width: auto;
    }

    .drop-down-container ul li:nth-of-type(2):hover{
        background-color: #e4002b;
    }

    #join-ul{
        width: 100%;
        margin-bottom: 5px;
    }

    .drop-down-container ul li:nth-of-type(2) ul li{
        background-color:#e4002b;
        
    }

    
    .drop-down-container ul li:nth-of-type(2) ul li a{
        color:#fff;
    }



    /* Grey RABC Separator Banner */
    
    .grey-separator{
        position: relative;
        z-index: 10;
    }

    /* Below Slider Links */
    .below-slider{
        display: block;
        height: 150px;
        position: relative;
        z-index: 5;
    }

    .below-slider ul{
        display: block;
        flex-direction: column;
        height: 100%;
        padding-top: 20px;
        
        width: 100%;
    }

    .below-slider ul li{
        margin-bottom: 10px;
    }

    .below-slider ul li a{
        margin: 0;
    }

    /* Intro Section */
    .intro-section{
        width: 100%;
    }

    .intro-text{
        width: 90%;
    }

    .intro-section h4{
        padding: 5%;
    }

    .intro-section p{
        margin-bottom: 5%;
        font-size: 14px;
    }

    /* Player Types */
    .player-types{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .player-types .grid-card p{
        font-size: 14px;
    }

    /* Facebook Section */
    .news-cards{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    .news-cards .grid-card-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 70%;
        overflow: hidden;
    }

    /* Footer */

    .footer-grid{
        display: flex;
        flex-direction: column;
    }

    .sponsors-section{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }


    /* Board Employees Page */
    .board-employees-grid{
        display: flex;
        flex-direction: column;
    }

    /* Recognised Sports Club Page */
    .useful-links-container{
        display: flex;
        flex-direction: column;
    }

    .useful-links-container .grid-card{
        width: 70%;
    }

    .useful-links-container .grid-card a img{
        width: 90%;
        margin-top: 10%;
    }

    .useful-links-container .grid-card h3{
       margin-bottom: 50%;
    }

    /* Sports Hall Page */
    .grid-cards{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* Playing Moments Page */
    #playing-moments-grid{
        display: flex;
        flex-direction: column;
    }

    #playing-moments-grid .grid-card{
        transition-property: none;
        transform: none;
    }

    /* Front Page disable card animation */
    .player-types .grid-card{
        transition-property: none;
        transform: none;
    }

    /* Board Members Animation Disabled */
    .board-employees-grid .grid-card{
        transition-property: none;
        transform: none;
    }

    .fb-grid-card-1{
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .gc-width{
        width: 80%;
        margin: 0 auto;
    }

} 

@media (min-width: 651px) and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /* Index Page */

    .social-media-banner{
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    #slide-container{
        border: none;
    }

    .navbar{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar img{
        position: relative;
        margin: 0;
    }

    /* Hamburger on navbar */
    .hamburger{
        display: block;
        background-color: transparent;
        border:0;
        cursor: pointer;
        font-size: 20px;
    }

    .hamburger:focus{
        outline: none;
    }

    #nav-ul{
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        margin: 0;
        width: 100%;
        height: auto;
        transform: translateX(-100%);

        padding-bottom: 15px;
    }

    .nav-ul .drop-down-container{
        padding: 0;
    }

    #nav-ul.show{
        display: flex;
        transform: translateX(0%);
        background-color: #fff;
    }

    /* Add onClick Show sub-menu */
    .navbar ul li{
        cursor: pointer;
    }

    .navbar ul li a{
        display: block;
        padding: 15px;
    }

    /* On-click animation of hamburger */
    .transition > svg {
        -moz-transition: transform 1s linear;
        -webkit-transition: transform 1s linear;
        transition: transform 0.3s linear;
    }
    
    .flip { /* rotate 90 deg */
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    /* Sub-Menu 1 */
    .navbar ul li:nth-of-type(2) ul.show{
        display: flex;
        position: relative;
        z-index: 1000;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    .navbar ul li:nth-of-type(2) ul li:nth-of-type(2).show{
        display: flex;
        position: relative;
        z-index: 1001;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    /* Border outline for all Sub-Menu Buttons */
    .navbar ul li a.border-outline{
        outline: 1px #e4002b solid;
    }

    .border-outline{ 
        outline: 1px #e4002b solid;
    }

    .border-outline2{
        outline: 1px #fff solid;
    }

    /* Sub-Menu 2 */
    .navbar ul li:nth-of-type(3) ul.show{
        display: flex;
        position: relative;
        z-index: 1000;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    /* Sub-Menu 3 */
    .navbar ul li:nth-of-type(4) ul.show{
        display: flex;
        position: relative;
        z-index: 1000;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    .navbar ul li:nth-of-type(4) ul li:hover{
        background-color: #424242;
    }

    /* Sub-Menu 4 */
    .navbar ul li:nth-of-type(5) ul.show{
        display: flex;
        position: relative;
        z-index: 1000;
        opacity: 1;
        transform: translateY(5px);
        pointer-events: all;
    }

    /* close sub menu-1 */
    /* .blocker-1 {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
      } */

    /* Remove Hover Effect from Desktop Layout */
    .drop-down-container ul li a {
        padding: 0;
        padding: 10px;
    }

    .drop-down-container a:hover + ul{
        opacity: 0;
        transform: translateY(0px);
        display: none;
    }

    .drop-down-container ul:hover{
        opacity: 0;
        transform: translateY(0px);
        display: none;
    }

    .drop-down-container ul li:nth-of-type(5) a:hover{
        color: #fff;
    }

    .drop-down-container:nth-of-type(2) ul{
        margin-right: 0px;
        right: 0;
    }
    
    .drop-down-container:nth-of-type(3) ul{
        margin-right: 0px;
        right: 0;
    }
    
    .drop-down-container:nth-of-type(4) ul{
        margin-right: 0px;
        right: 0;
    }
    
    .drop-down-container:nth-of-type(5) ul{
        margin-right: 0px;
        right: 0;
    }

    /* Submenu inside Submenu for Joining */ 
    .navbar ul li:nth-of-type(2) ul li:nth-of-type(2) ul{
        margin-right: 0px;
        right: 0;
        margin-top: 0;
        padding: 3%;
    }

    .navbar ul li:nth-of-type(2) ul li:nth-of-type(2) ul li:hover{
        background-color: #fff;
    }

    /* ------------------------------------------------------------- */
    
    .drop-down-container ul li:nth-of-type(2){
        flex-direction: column;
        width: auto;
    }

    .drop-down-container ul li:nth-of-type(2):hover{
        background-color: #e4002b;
    }

   
    #join-ul{
        width: 100%;
        margin-bottom: 5px;
    }

    .drop-down-container ul li:nth-of-type(2) ul li{
        background-color:#e4002b;
        
    }

    
    .drop-down-container ul li:nth-of-type(2) ul li a{
        color:#fff;
    }

    /* Grey RABC Separator Banner */
    
    .grey-separator{
        position: relative;
        z-index: 10;
    }

    /* Below Slider Links */
    .below-slider{
        display: block;
        height: 150px;
        align-items: center;
        position: relative;
        z-index: 5;

    }

    .below-slider ul{
        display: block;
        flex-direction: column;
        height: 100%;
        padding-top: 20px;
    }

    .below-slider ul li{
        margin-bottom: 10px;
    }

    .below-slider ul li a{
        margin: 0;

    }

    /* Intro Section */
    .intro-section{
        width: 100%;
    }

    .intro-text{
        width: 90%;
    }

    .intro-section h4{
        padding: 5%;
    }

    .intro-section p{
        margin-bottom: 5%;
    }

    /* Player Types */
    .player-types{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    /* Facebook Section */
    .news-cards{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    .news-cards .grid-card-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 70%;
        overflow: hidden;
    }

    /* Footer */

    .footer-grid{
        display: flex;
        flex-direction: column;
    }

    .sponsors-section{
        display: flex;
    }



    /* Board Employees Page */
    .board-employees-grid{
        display: flex;
        flex-direction: column;
    }

    /* Recognised Sports Club Page */
    .useful-links-container{
        display: flex;
        flex-direction: column;
    }

    .useful-links-container .grid-card{
        width: 60%;
    }

    /* Sports Hall Page */
    .grid-cards{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .grid-card{
        margin-bottom: 10%;
    }

    /* Playing Moments Page */
    #playing-moments-grid{
        display: flex;
        flex-direction: column;
    }

    #playing-moments-grid .grid-card{
        transition-property: none;
        transform: none;
    }

    /* Front Page disable card animation */
    .player-types{
        margin-bottom: 5%;
    }

    .player-types .grid-card{
        transition-property: none;
        transform: none;
    }

    /* Board Members Animation Disabled */
    .board-employees-grid .grid-card{
        transition-property: none;
        transform: none;
    }

    /* Facebook Plugin Front Page */
    .fb-grid-card-1{
        margin-top: 4%;
        margin-bottom: 5%;
    }

    .gc-width{
        width: 80%;
        margin: 0 auto;
    }
} 

@media (min-width: 768px) and (max-width: 1100px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

        /* Index Page */

        .social-media-banner{
            margin: 0;
            padding-left: 25%;
            display: flex;
        }
    
        #slide-container{
            border: none;
        }
    
        .navbar{
            margin-top: 20px;
            display: flex;
            align-items: center;
        }
    
        .navbar img{
            position: relative;
            margin: 0;
        }
    
        /* Hamburger on navbar */
        .hamburger{
            display: block;
            background-color: transparent;
            border:0;
            cursor: pointer;
            font-size: 20px;
            margin-left: 30%;
        }
    
        .hamburger:focus{
            outline: none;
        }
    
        #nav-ul{
            display: flex;
            position: relative;
            flex-direction: column;
            text-align: center;
            margin: 0;
            width: 100%;
            height: auto;
            transform: translateX(-100%);


        }
    
        .nav-ul .drop-down-container{
            padding: 0;
        }
    
        #nav-ul.show{
            display: flex;
            transform: translateX(0%);
            background-color: #fff;
        }
    
        /* Add onClick Show sub-menu */
        .navbar ul li{
            cursor: pointer;
        }
    
        .navbar ul li a{
            display: block;
            padding: 15px;
        }
    
        /* On-click animation of hamburger */
        .transition > svg {
            -moz-transition: transform 1s linear;
            -webkit-transition: transform 1s linear;
            transition: transform 0.3s linear;
        }
        
        .flip { /* rotate 90 deg */
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    
        /* Sub-Menu 1 */
        .navbar ul li:nth-of-type(2) ul.show{
            display: flex;
            position: relative;
            z-index: 1000;
            opacity: 1;
            transform: translateY(5px);
            pointer-events: all;
        }

        .navbar ul li:nth-of-type(2) ul li:nth-of-type(2).show{
            display: flex;
            position: relative;
            z-index: 1001;
            opacity: 1;
            transform: translateY(5px);
            pointer-events: all;
        }
    
        /* Border outline for all Sub-Menu Buttons */
        .navbar ul li a.border-outline{
            outline: 1px #e4002b solid;
        }
    
        .border-outline{ 
            outline: 1px #e4002b solid;
        }
    
        /* Sub-Menu 2 */
        .navbar ul li:nth-of-type(3) ul.show{
            display: flex;
            position: relative;
            z-index: 1000;
            opacity: 1;
            transform: translateY(5px);
            pointer-events: all;
        }
    
        /* Sub-Menu 3 */
        .navbar ul li:nth-of-type(4) ul.show{
            display: flex;
            position: relative;
            z-index: 1000;
            opacity: 1;
            transform: translateY(5px);
            pointer-events: all;
        }

        .navbar ul li:nth-of-type(4) ul li:hover{
            background-color: #424242;
        }
    
        /* Sub-Menu 4 */
        .navbar ul li:nth-of-type(5) ul.show{
            display: flex;
            position: relative;
            z-index: 1000;
            opacity: 1;
            transform: translateY(5px);
            pointer-events: all;
        }
    
        /* close sub menu-1 */
        /* .blocker-1 {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            content: ' ';
          } */
    
        /* Remove Hover Effect from Desktop Layout */
        .drop-down-container ul li a {
            padding: 0;
            padding: 10px;
        }
    
        .drop-down-container a:hover + ul{
            opacity: 0;
            transform: translateY(0px);
            display: none;
        }
    
        .drop-down-container ul:hover{
            opacity: 0;
            transform: translateY(0px);
            display: none;
        }

        .drop-down-container ul li:nth-of-type(5) a:hover{
            color: #fff;
        }
    
        
        .drop-down-container:nth-of-type(2) ul{
            margin-right: 0px;
            right: 0;
        }
        
        .drop-down-container:nth-of-type(3) ul{
            margin-right: 0px;
            right: 0;
        }
        
        .drop-down-container:nth-of-type(4) ul{
            margin-right: 0px;
            right: 0;
        }
        
        .drop-down-container:nth-of-type(5) ul{
            margin-right: 0px;
            right: 0;
        }

        /* Submenu inside Submenu for Joining */ 
        .navbar ul li:nth-of-type(2) ul li:nth-of-type(2) ul{
            margin-right: 0px;
            right: 0;
            margin-top: 0;
            padding: 3%;
        }

        .navbar ul li:nth-of-type(2) ul li:nth-of-type(2) ul li:hover{
            background-color: #fff;
        }

        /* ------------------------------------------------------------- */
        
        .drop-down-container ul li:nth-of-type(2){
            flex-direction: column;
            width: auto;
        }

        .drop-down-container ul li:nth-of-type(2):hover{
            background-color: #e4002b;
        }

        
        #join-ul{
            width: 100%;
            margin-bottom: 5px;
        }

        .drop-down-container ul li:nth-of-type(2) ul li{
            background-color:#e4002b;
        }

        #join-ul li:hover{
            background-color: #424242;
        }

        .drop-down-container ul li:nth-of-type(2) ul li a{
            color:#fff;
        }

        .below-slider-links{
            width: 100%;
        }

        /* Intro Section */
        .intro-section{
            width: 100%;
        }

        .intro-text{
            width: 90%;
        }

        .intro-section h4{
            padding: 5%;
        }

        .intro-section p{
            margin-bottom: 5%;
        }

        .gc-width{
            width: 80%;
            margin: 0 auto;
        }
}


@media (min-width: 1101px) and (max-width: 1400px){
    .social-media-banner{
        padding-left: 10%;
    }
    .logo-link{
        margin-left: 10%;
    }
}


/* Sports Halls Wider Layout */ 
@media(min-width: 768px) and (max-width: 1300px){
    .grid-cards{
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .grid-card{
        margin-bottom: 10%;
    }
}


/* Playing Moments Page */
@media(min-width: 769px) and (max-width: 1650px){
    #playing-moments-grid{
        display: grid;
        grid-template-columns: repeat(2, 350px);
        gap: 10px;
    }

    #playing-moments-grid .grid-card{
        transition-property: none;
        transform: none;
    }
}

/* Board Members Page */
@media(min-width: 660px) and (max-width: 1050px){
    .board-employees-grid{
        display: grid;
        grid-template-columns: repeat(2 ,300px);
    }
}

/* 1330 768 Recognised Sports Club Tablet Layout */
@media(min-width: 769px) and (max-width: 1330px){
    .useful-links-container{
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }
} 

/* Contact Us Page */
@media(max-width: 800px){
    .contactus-details{
        display: flex;
        flex-direction: column;
    }

    .form-info{
        margin-bottom:10%;
    }
}

/* Tournament Page */
@media(max-width: 1200px){
    #tournament-link{
        white-space: normal;
        margin: 0;
    }
}

/* Footer at Tablet Layouts */
@media(min-width: 769px) and (max-width: 1100px){
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(1, 100px);
        margin: 0 auto;
        text-align: center;
    }

    .footer-grid .footer-grid-item{
        width: 70%;
    }

    .footer-grid .footer-grid-item ul li{
        text-align: center;
    }

    .footer-grid-item-5{
        margin-right: -320%;
    }
    
    .footer-grid-item-5 h5{
        margin-bottom: 3%;
    }

    .sponsors-section{
        display: flex;
    }

}


/* Join Youth Page */
@media(max-width: 1300px){
    #join-youth-intro{
        font-size: 16px;
    }

    #join-youth-intro{
        margin: 0 auto;
        width: 80%;
    }

    #youth-sporthall-cards{
        display: flex;
        flex-direction: column;
    }

    #youth-sporthall-cards .grid-card{
        width: 100%;
        max-width: 500px; 
        margin: 0 auto;
        margin-bottom: 2%;
    }

    #youth-join-button{
        margin-top: 7%;
        margin-bottom: 7%;
    }

    #youth-playing-card{
        padding-top: 5%;
    }
}

@media(max-width: 500px){
    #join-youth-intro{
        font-size: 14px;
        width: 70%;
        padding-bottom: 10%;
    }

    #youth-playing-card{
        padding-top: 10%;
    }
}

/* Join Competitive Page */
@media(max-width: 1300px){
    #join-competitive-intro{
        font-size: 16px;
        padding-bottom: 5%;
    }

    #join-competitive-intro p{
        margin: 0 auto;
        width: 80%;
    }

    #competitive-sporthall-cards{
        display: flex;
        flex-direction: column;
    }

    #competitive-sporthall-cards .grid-card{
        width: 100%;
        min-width: 250px;
        max-width: 500px; 
        margin: 0 auto;
        margin-bottom: 2%;
    }

    #competition-playing-card{
        padding-top: 5%;
    }
}

@media(max-width: 500px){
    #join-competitive-intro{
        font-size: 14px;
        padding-bottom: 10%;
    }

    #youth-join-button{
        margin-bottom: 10%;
    }

    #competition-playing-card{
        padding-top: 10%;
    }
}

/* Recreation Page */
@media(max-width: 1300px){

    #join-recreation-intro{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #join-recreation-intro p{
        margin: 0 auto;
        width: 80%;
    }

    #join-recreation-intro h2{
        padding-top: 1%;
        margin-bottom: 1%;
    }

    #recreation-sporthall-cards{
        display: flex;
        flex-direction: column;
    }

    #recreation-sporthall-cards .grid-card{
        width: 100%;
        max-width: 500px; 
        margin: 0 auto;
        margin-bottom: 2%;
    }

    #youth-join-button{
        margin-top: 7%;
        margin-bottom: 7%;
    }

    #recreation-playing-card{
        padding-top: 5%;
    }
}

@media(max-width: 500px){
    #join-recreation-intro{
        font-size: 14px;
        padding-bottom: 10%;
    }

    #youth-join-button{
        margin-bottom: 10%;
    }

    #recreation-playing-card{
        padding-top: 10%;
    }
}

@media(min-width: 651px) and (max-width: 1200px){
    .player-types{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .player-types .grid-card{
        margin: 5% auto;
        width: 60%;
    }
}

/* Query For Competition Group Cards */
@media(max-width: 950px){
    #Dames{
        display: flex;
        flex-direction: column;
    }

    #Dames .comp-div{
        margin: 0 10px;
    }

    .heren-container .grid-card{
        min-width: 185px;
        max-width: 330px;
    }

    .heren-container ul li{
        font-size: 14px;
    }

    #Heren{
        display: flex;
        flex-direction: column !important;
    }

    #Gemengde{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
    }

    .first-col{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }

    .second-col{
        display:flex;
        margin: 0 auto;
        justify-content: center;
    }

    .third-col{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        margin-bottom: 4%;
    }
}

@media(max-width: 550px){
    #Heren{
        display: flex;
        flex-direction: column !important;
    }

    .first-col{
        flex-direction: column;
    }

    .second-col{
        flex-direction: column;
    }

    .third-col{
        flex-direction: column;
    }
}