/* Board and Employees Grid */
.board-employees-grid{
    display: grid;
    gap: 30px;
    margin-top: 2%;
    margin-bottom: 5%;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    justify-content: center;
}

.grid-card img{
    align-self: center;
    margin-bottom: 10px;
}

.board-employees-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
    text-align: center;
}

.board-employees-intro h3{
    color: #e4002b;
    margin-top: 1%;
}

/* Playing moments grid */

.playing-moments-grid {
    display: grid;
    gap: 30px;
    margin-top: 2%;
    margin-bottom: 5%;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    justify-content: center;
}

.playing-moments-grid .grid-card{
    padding: 15%;
}

/*Useful links container-grid */

.useful-links-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.useful-links-section h2{
    margin: 0 auto;
    margin-top: 5%;
}

.useful-links-container{
    display: grid;
    gap: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(1, 300px);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.useful-links-container .grid-card{
    position: relative;
    height: 300px;
    justify-content: center;
}

.useful-links-container .grid-card img{
    border-radius: 0;

}

/* Sports Hall Cards */
.sports-news-cards{
    display: flex;
    text-align: center;
    margin: 2% auto;
    width: 100%;
}

#youth-halls-title{
    text-align: center;
    margin: 2% auto;
    margin-top: 4%;
}

.grid-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(1, 400px);
    margin-top: 2%;
    margin-bottom: 4%;
    gap: 3%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.grid-card {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 5%;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    align-items: center;

    transition: transform .4s ease-out;
}

.grid-card:hover{
    transform: translate(0, -10px);
}

.grid-card h3{
    padding-bottom: 5%;
    color: #000000;
}

.grid-card h5{
    padding-bottom: 5%;
    color: #e4002b
}

.grid-card p {
    padding-bottom: 5%;
}

#grid-card-3 h3{
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Google Maps JavaScript API */

#map-1 {
    width: 100%;
    height: 300px;
    border-radius: 0;
}

#map-2 {
    width: 100%;
    height: 300px;
}

#map-2b{
    height: 300px;
    width: 30%;
    margin: 0 auto;
}

#map-3 {
    width: 100%;
    height: 300px;
}


/* Competition Groups */

#Heren {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Heren h2 {
    margin: 0 auto;
}

#list-drop{
    display: flex;
    margin: 0 auto;
    white-space: nowrap;
    align-items: center;
    
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#list-drop i{
    cursor: pointer;
    padding-right: 10px;
    transform: rotate(0deg);
    transition: transform 1s linear;
}

#list-drop i.open{
    transform: rotate(90deg);
    transition: transform 1s linear;
}

#list-drop h2, h3{
    cursor: pointer;
}

.toggle-button-2{
    cursor: pointer;
    display: flex;
    border: none;
    outline: 0;
    background-color: transparent;
}

.toggle-button-3{
    cursor: pointer;
    display: flex;
    border: none;
    outline: 0;
    background-color: transparent;
}

.toggle-button-4{
    cursor: pointer;
    display: flex;
    border: none;
    outline: 0;
    background-color: transparent;
}

.heren-container{
    display:flex;
    flex-direction: column;
    min-width: 185px;
    max-width: 330px;
    margin: 0 auto;
    margin-bottom: 10%;
}


#Gemengde{
    justify-content: center;
    margin-bottom: 1%;
}

#Heren{
    display: flex;
    flex-direction: row;
}

.heren-container ul li{
    list-style: none;
    padding: 5px;
    white-space: nowrap;
}

#heren-container ul{
    margin: 0 auto;
}

#heren-container ul li{
    padding: 10px;
}

.heren-container li{
    text-align: center;
}

/* Styling the Icon for Competition Groups */
.toggle-button-heren-sub{
    border: none;
    outline: 0;
    background-color: transparent;
}

.toggle-button-dames-sub{
    border: none;
    outline: 0;
    background-color: transparent;
}

.toggle-button-gemengde-sub{
    border: none;
    outline: 0;
    background-color: transparent;
}

/* Tournament Text */

#tournament-intro-text{
    margin-top: 2%;
    margin-bottom: 20%;
}

/* Sponsor Text */
.sponsor-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.sponsor-section .intro-text{
    margin: 0 auto;
}


/* Contact Us Page */
#contactus{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    margin: 0 auto;
}

#contactus h2{
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
}

.contactus-details{
    display: flex;
    margin: 0 auto;
}

.form-info{
    padding-top: 5%;
    white-space: nowrap;
    margin-left: 10%;
}

.form-info img{
    padding-top: 10%;
}

.form-info h4{
    color: #424242;
    padding-top: 5%;
}

.form-info h5{
    padding-top: 5%;
}

.contactus-form{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 5%;
    margin-bottom: 10%;

    padding: 10%;
    border: none;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
}

.contactus-form label{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
}

.contactus-form input{
    margin-bottom: 25px;
    width: 100%;
    padding: 10px;
    outline: none;
    border-width: 1px;

}

.contactus-form textarea{
    resize: vertical;
    outline: none;
}

.contactus-form button{
    width: 100%;
    margin: 10px auto;
    margin-top: 15px;

    padding: 12px 24px;
    font-size: 18px;
    background-color: #e4002b;
    color: #fff;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}

.contactus-form button:hover{
    background-color: #424242;
}

#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error{
    background-color: rgb(250,129,92);
    animation: status 4s ease forwards;
    color: white;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}


/* Join US Page Form */
.member-form-container{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: 0 auto;
}

/* Youth Join Page */
.youth-join-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#join-youth-intro{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;

    max-width: 700px;
}

#join-youth-intro h2{
    padding-bottom: 2%;
}

#youth-join-button{
    margin: 0 auto;
    white-space: nowrap;
    margin-top: 1%;
    text-decoration: none;
}

#youth-playing-card{
    display: flex;
}

#playing-moments-title{
    margin: 2% auto;
    margin-top: 5%;
}

#youth-playing-card .grid-card{
    width: auto;
    margin: 0 auto;
    margin-top: 3%;
    padding: 2%;
}

#youth-sports-hall{
    width: auto;
    margin: 2% auto;
}

/* Join Competitive Page */
#join-competitive-intro{
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#join-competitive-intro h2{
    padding-top: 1%;
    padding-bottom: 1%;
}

#competition-playing-card{
    display: flex;
    margin: 3% auto;
    margin-left: 2%;
    margin-right: 2%;
}

#competition-playing-card .grid-card{
    margin: 0 auto;
    width: auto;
}


#competition-playing-card .grid-card{
    margin: 0 auto;
    width: auto;
}


/* Iframe Form */

.google-form-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 150%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

#iframe-form{
    display: flex;
    margin: 0 auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Brochure Join Page */
.pdf-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2%;
}

.pdf-container a{
    text-decoration: none;
    color: #000000;
    padding-bottom: 2%;
    padding-top: 2%;
    align-self: center;
}

.pdf-link-container{
    padding-top: 1%;
}

/* Recreation Page */
#join-recreation-intro{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

#join-recreation-intro h2{
        padding-top: 1%;
        margin-bottom: 2%;
}

#recreation-moments-title{
    margin: 2% auto;
    text-align: center;
    margin-top: 4%;
}

#recreation-playing-card{
    display: flex;
    width: auto;
    margin: 0 auto;
    
    margin-top: 4%;
}

/* Grid Card Width */ 
.gc-width{
    width: 30%;
    margin: 0 auto;
}

#heren-container-6 > .grid-card{
    width: 100%;
}

#heren-container-7 > .grid-card{
    width: 100%;
}

/* Toggle Class Remove Image for Competition Groups */ 
.remove-image{
    display: none;
}

/* Social Media Banner Trophy */
#sb-trophy{
    color: #fff;
}

#sb-trophy:hover{
    color: #424242;
}

#Dames{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comp-div{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.first-col-2{
    display: flex;
    margin: 0 auto;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

  
.tooltip:hover .tooltiptext {
    visibility: visible;
}









